.homepage-body{
    padding: 5rem .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-box{
    height: 20rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 4rem 0;
    box-shadow: 0 0 10px lightgray;

}

.homepage-body img{
    border-radius: 50%;
    width: 50px;
    text-align: start;

}









